.form {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  padding: 50px;
  border: 1px solid #decee5;
  margin: 50px;
  border-radius: 20px;
  background-color: #ffe6e9;
  box-shadow: 5px 5px 8px #da79ec;
  max-width: 560px;
}

/* .userForm {
  align-items: center;
}

.socialForm {
  display: flex;
  flex-direction: column;
} */

@media (max-width: 600px) {
  .form {
    padding: 24px;
    margin: 24px;
  }
}
